        @media screen and (min-width: 1280px) {
            .container {
                width: 1280px;
            }
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        a {
            color: #666;
            text-decoration: none;
        }
        
        a:hover {
            text-decoration: none;
        }
        
        header {
            padding-left: 0 !important;
        }
        
        .logo {
            background-color: #429ad9;
        }
        
        .logo img {
            /* width: 100%; */
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
        
        .logo span {
            display: block;
            height: 50px;
            line-height: 50px;
            color: #fff;
            font-size: 18px;
            text-align: center;
        }
        
        .container {
            background-color: rgb(153, 22, 22);
        }
        
        .nav {
            background-color: #eee;
            border-bottom: 1px solid #ccc;
        }
        
        @media screen and (max-width:991px) {
            .nav ul li {
                float: left;
                width: 20%;
            }
            article {
                margin-top: 10px;
            }
        }
        
        @media screen and (max-width:767px) {
            .nav ul li a {
                font-size: 14px;
                padding-left: 0;
            }
            .news li:nth-child(1) {
                width: 100%!important;
            }
            .news li {
                width: 50%!important;
            }
        }
        
        .nav a {
            display: block;
            height: 50px;
            line-height: 50px;
            padding-left: 30px;
            font-size: 16px;
        }
        
        .nav a:hover {
            background-color: #fff;
            color: #333;
        }
        
        .nav a::before {
            vertical-align: middle;
            padding-right: 5px;
        }
        
        .news li {
            width: 25%;
            float: left;
            height: 128px;
            padding-right: 10px;
            margin-bottom: 10px;
        }
        
        .news li a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        .news li a img {
            width: 100%;
            height: 100%;
        }
        
        .news li a p {
            position: absolute;
            width: 100%;
            height: 41px;
            bottom: 0;
            left: 0;
            margin-bottom: 0;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            padding: 3px 10px;
        }
        
        .news li:nth-child(1) {
            width: 50%;
            height: 266px;
        }
        
        .news li:nth-child(1) p {
            line-height: 41px;
            font-size: 20px;
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .public {
            border-top: 1px solid rgb(24, 19, 19);
        }
        
        .public .row {
            border-bottom: 1px solid rgb(24, 19, 19);
        }
        
        .pic img {
            width: 100%;
        }
        
        .banner img {
            width: 100%;
        }
        
        .hot {
            display: block;
            margin-top: 20px;
            padding: 0 20px 20px;
            border: 1px solid #ccc;
        }
        
        .hot span {
            border-radius: 0;
        }